# Credenciais do Banco de Dados / Backend (Convex)
VITE_CONVEX_URL="https://seu-projeto.convex.cloud"

# Credenciais de Autenticação Admin (Clerk)
VITE_CLERK_PUBLISHABLE_KEY="pk_test_..."
CLERK_SECRET_KEY="sk_test_..."
